@charset "UTF-8";

.selection-image {
  background-image: url("https://cdn.pixabay.com/photo/2016/06/12/20/15/sports-1452965_1280.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100vh;
}

input[type=radio] {
  transform: scale(3);
  margin-top: 4.5rem;
}

.profile-image {
  height: 300px;
  width: 300px;
  margin-left: 7rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-image-sm {
  height: 250px;
  width: 250px;
  margin-bottom: 1rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

input[type=file] {
  display: none;
}

.profile_title {
  margin-bottom: 4rem;
}

.selection-title {
  border-bottom: solid #FF0000 0.5rem;
  font-size: 5em;
  padding-right: 2rem;
}

.selection-title-sm {
  border-bottom: solid #FF0000;
  font-size: 2rem;
}

.selection-button-sm {
  color: #333;
  font-size: 1.3rem;
  background-color: #fff;
  width: 20rem;
  margin-top: 5rem;
}

.selection_button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 3rem;
  margin-bottom: 5rem;
  width: 30rem;
  height: 5.5rem;
  border: solid;
  position: relative;
  display: block;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
  background: transparent;
}

.selection_button::before,
.selection_button::after {
  content: "";
  width: 30rem;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: transform ease 0.3s;
}

.selection_button::before {
  right: -2rem;
  border-right: 4rem solid transparent;
  border-bottom: 5.5rem solid #fff;
  transform: translateX(-100%);
}

.selection_button::after {
  left: -2rem;
  border-left: 4rem solid transparent;
  border-top: 5.5rem solid #fff;
  transform: translateX(100%);
}

.selection_button:hover {
  color: #333;
  border: solid #fff;
}

.selection_button:hover::before {
  transform: translateX(-49%);
}

.selection_button:hover::after {
  transform: translateX(49%);
}

.month-change {
  font-size: 2rem;
}

.month-change-sm {
  font-size: 1.5rem;
}

.table_link {
  text-decoration: none;
  color: #fff;
}

.record-title {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  margin-left: 1.5rem;
}

.record-title-sm {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.record-card {
  margin: 4rem 2.5rem 3rem 0;
}

.record-card-sm {
  margin: 4rem 2.5rem 3rem 2.5;
}

.record-card-sm {
  margin: 0.5rem 2rem 3rem 2rem;
}

.record-card-body {
  background-color: #fff;
  padding: 0 0 2.5rem 0;
  margin-top: -1.5rem;
}

.record-card-body-sm {
  background-color: #fff;
  padding: 0;
  margin-top: -1.5rem;
}

.record-card-text {
  font-size: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.record-card-text-sm {
  letter-spacing: 0.2rem;
  margin-top: -1rem;
}

.record-name-text {
  margin-left: 3rem;
  margin-top: -1.5rem;
  letter-spacing: 0.2rem;
}

.record-card-time {
  font-size: 1rem;
  margin-left: 3rem;
  letter-spacing: 0.2rem;
}

.record-card-time-sm {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.record-date {
  font-size: 1.5rem;
  background-color: #6495ed;
  color: #fff;
}

.day-table {
  line-height: 4rem;
  background-color: #fff;
  table-layout: fixed;
}

.day-table-sm {
  line-height: 2rem;
  background-color: #fff;
  table-layout: fixed;
}

.record-text {
  height: 100%;
  margin: 4rem 0;
}

.table-bordered {
  color: #333;
}

th:nth-of-type(1),
td:nth-of-type(1) {
  color: #008b8b;
  font-weight: bold;
}

th:nth-of-type(7),
td:nth-of-type(7) {
  color: #008b8b;
  font-weight: bold;
}

.today {
  background-color: #b0c4de;
  position: relative;
  transition: color 300ms, background-color 300ms;
}

.today:hover {
  background-color: #343A3F;
  color: #fff;
}

.calendar {
  background-color: #FFF;
  position: relative;
  background: #fff;
  transition: color 300ms, background-color 300ms;
}

.workout-chart-size {
  height: 30rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.management-bottom {
  margin: 1rem;
}

.btn-color {
  background-color: #ff6347;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color2 {
  background-color: #00bfff;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color3 {
  background-color: #40e0d0;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color4 {
  background-color: #90ee90;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color5 {
  background-color: #ffd700;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color6 {
  background-color: #ffa07a;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color7 {
  background-color: #ffb6c1;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color8 {
  background-color: #b0c4de;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color-sm {
  background-color: #ff6347;
  width: 7.5rem;
  margin: 0.5rem;
}

.btn-color2-sm {
  background-color: #00bfff;
  width: 7.5rem;
  margin: 0.5rem;
}

.btn-color3-sm {
  background-color: #40e0d0;
  width: 7.5rem;
  margin: 0.5rem;
}

.btn-color4-sm {
  background-color: #90ee90;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color5-sm {
  background-color: #ffd700;
  width: 9rem;
  margin: 0.5rem;
}

.btn-color6-sm {
  background-color: #ffa07a;
  width: 7.5rem;
  margin: 0.5rem;
}

.btn-color7-sm {
  background-color: #ffb6c1;
  width: 7.5rem;
  margin: 0.5rem;
}

.btn-color8-sm {
  background-color: #b0c4de;
  width: 7.5rem;
  margin: 0.5rem;
}

.scrollableChartWrapper {
  position: relative;
  background-color: ghostwhite;
}

/* スクロール可能グラフを囲む div */

.scrollableChartWrapper > div {
  position: relative;
  overflow-x: scroll;
}

/* Y軸イメージコピー用 canvas */

.scrollableChartWrapper > canvas {
  position: absolute;
  /* これにより、上の div と重なる位置に canvas が配置される */
  left: 0;
  top: 0;
  background-color: ghostwhite;
  /* ここをコメントアウトすると、背景色が透明になるので、Y軸を透かしてグラフ部分が見えるようになる */
}

.cours-title {
  margin: 0;
  padding: 0.5rem;
  font-weight: bold;
}

.unit {
  margin: 2.5rem 0 0 0;
  padding: 0;
}

.cours-line {
  padding: 0;
  margin: 0;
  background-color: #333;
}

.chart-title {
  background-color: #778899;
  padding: 0.5rem 0 0 1.3rem;
}

.chart-title2 {
  background-color: #483d8b;
  padding: 0.5rem 0 0 1.3rem;
}

.chart-title2-sm {
  background-color: #483d8b;
  padding: 0.5rem 0 0 1.3rem;
  margin-top: -10rem;
}

.training_label {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  border: solid;
}

.main_training_label {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border: solid;
  margin: 1.5rem 0 0.5rem 0;
}

.main_training_label_sm {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: solid;
  margin: 1.5rem 0 0.5rem 0;
}

.training_label_sm {
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  border: solid;
}

.menu-selection {
  padding-bottom: 2rem;
}

.recovery_title {
  padding-top: 1rem;
}

.recovery_name {
  font-weight: bold;
  line-height: 2rem;
  border-bottom: solid;
  padding-left: 1rem;
}

.recovery_name_last {
  font-weight: bold;
  line-height: 2rem;
  padding-left: 1rem;
}

.recovery_view {
  background-color: #fff;
  color: #333;
}

.recovery_label {
  color: #008080;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.recovery_list {
  background-color: #fff;
  color: #333;
}

.list_title {
  margin-bottom: 1rem;
  color: #333;
}

.recovery-pru {
  background-color: #fff;
}

.recovery_botton {
  margin: 0.8rem;
  width: 13.5rem;
}

.recovery_botton_sm {
  margin: 0.5rem;
  width: 10rem;
}

.training-point-title {
  color: #333;
  margin-top: 2rem;
}

.cours-point-title {
  color: #333;
  margin-top: 1rem;
}

.training-top {
  background-color: #ff8c00;
  padding-top: 1rem;
  padding-left: 1rem;
}

.course-name {
  margin-bottom: 0.5rem;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px #333;
}

.course-name:focus {
  background-color: #222222;
  color: #fff;
  box-shadow: none;
  position: relative;
  top: 2px;
}

.course-name:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}

.course-name:hover {
  background-color: #222222;
  color: #fff;
}

.training-name:focus {
  background-color: #333;
  color: #fff;
  box-shadow: none;
  position: relative;
  top: 2px;
}

.training-name:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}

.training-name:hover {
  background-color: #222222;
  color: #fff;
}

.training-name {
  margin-bottom: 0.5rem;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px #333;
}

.recovery-top {
  background-color: #669999;
  padding-top: 1rem;
  padding-left: 1rem;
}

.record-top {
  background-color: #4682b4;
  padding-top: 1rem;
  padding-left: 1rem;
}

.training-point {
  margin-bottom: 1rem;
}

.course-point {
  margin-bottom: 1rem;
}

.recovery-list-bottom {
  margin-bottom: 0.5rem;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px #333;
}

.recovery-list-bottom:focus {
  background-color: #222222;
  color: #fff;
  box-shadow: none;
  position: relative;
  top: 2px;
}

.recovery-list-bottom:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}

.recovery-list-bottom:hover {
  background-color: #222222;
  color: #fff;
}

.training-history {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.history-label {
  font-weight: bold;
}

.history-label-sm {
  font-weight: bold;
  padding-right: 0.5rem;
}

.history-point-label {
  margin-bottom: 1rem;
  font-weight: bold;
}

.training-after {
  margin: 1.5rem 0;
}

.completed {
  font-weight: bold;
  background-color: #6495ed;
  color: #fff;
}

.completed:hover {
  background-color: #343A3F;
  color: #fff;
}

.management-card {
  margin-bottom: 2rem;
}

.body-condition1 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  padding-left: 25rem;
}

.body-condition2 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  padding-left: 5rem;
}

.body-condition1-sm {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5rem;
}

.body-condition2-sm {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5rem;
}

.stats-title {
  font-size: 1.8rem;
  margin: 2rem 0;
  color: #4682B4;
}

.condition-list {
  margin: 0.5rem;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  color: #333;
}

.body-condition-top {
  font-size: 2rem;
  margin-top: 2rem;
  border-top: solid;
  border-bottom: solid;
}

.guide {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.training-point-card {
  margin: 1rem 1rem;
}

.training-point-card-text {
  margin-left: 6rem;
}

.training-point-list {
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.chest-card-header {
  background-color: #ff6347;
}

.chest-point-card-body {
  letter-spacing: 1em;
  padding-bottom: 3rem;
  border: solid #ff6347 0.1rem;
  margin-top: -2rem;
}

.chest-point-card-body-sm {
  padding: 3rem 0 3rem 1rem;
  border: solid #ff6347 0.1rem;
  margin-top: -2rem;
}

.back-card-header {
  background-color: #00bfff;
}

.back-point-card-body {
  letter-spacing: 1em;
  padding-bottom: 3rem;
  border: solid #00bfff 0.1rem;
  margin-top: -2rem;
}

.back-point-card-body-sm {
  padding: 3rem 0 3rem 1rem;
  border: solid #00bfff 0.1rem;
  margin-top: -2rem;
}

.sholuder-card-header {
  background-color: #40e0d0;
}

.sholuder-point-card-body {
  letter-spacing: 1em;
  padding-bottom: 3rem;
  border: solid #40e0d0 0.1rem;
  margin-top: -2rem;
}

.sholuder-point-card-body-sm {
  padding: 3rem 0 3rem 1rem;
  border: solid #40e0d0 0.1rem;
  margin-top: -2rem;
}

.bicelder-card-header {
  background-color: #90ee90;
}

.bicelder-point-card-body {
  letter-spacing: 1em;
  padding-bottom: 3rem;
  border: solid #90ee90 0.1rem;
  margin-top: -2rem;
}

.bicelder-point-card-body-sm {
  padding: 3rem 0 3rem 1rem;
  border: solid #90ee90 0.1rem;
  margin-top: -2rem;
}

.triceps-card-header {
  background-color: #ffd700;
}

.triceps-point-card-body {
  letter-spacing: 1em;
  padding-bottom: 3rem;
  border: solid #ffd700 0.1rem;
  margin-top: -2rem;
}

.triceps-point-card-body-sm {
  padding: 3rem 0 3rem 1rem;
  border: solid #ffd700 0.1rem;
  margin-top: -2rem;
}

.leg-card-header {
  background-color: #ffa07a;
}

.leg-point-card-body {
  letter-spacing: 1em;
  padding-bottom: 3rem;
  border: solid #ffa07a 0.1rem;
  margin-top: -2rem;
}

.leg-point-card-body-sm {
  padding: 3rem 0 3rem 1rem;
  border: solid #ffa07a 0.1rem;
  margin-top: -2rem;
}

.hip-card-header {
  background-color: #ffb6c1;
}

.hip-point-card-body {
  letter-spacing: 1em;
  padding-bottom: 3rem;
  border: solid #ffb6c1 0.1rem;
  margin-top: -2rem;
}

.hip-point-card-body-sm {
  padding: 3rem 0 3rem 1rem;
  border: solid #ffb6c1 0.1rem;
  margin-top: -2rem;
}

.body-card-header {
  background-color: #b0c4de;
}

.body-point-card-body {
  letter-spacing: 1em;
  padding-bottom: 3rem;
  border: solid #b0c4de 0.1rem;
  margin-top: -2rem;
}

.body-point-card-body-sm {
  padding: 3rem 0 3rem 1rem;
  border: solid #b0c4de 0.1rem;
  margin-top: -2rem;
}

.record-table {
  padding: 1rem 3rem;
  color: #333;
}

.composition {
  color: #333;
  padding: 0 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.guide-top {
  font-size: 2rem;
  margin-top: 2rem;
  color: #008080;
}

.guide-title {
  font-size: 1.5rem;
}

.guide-text {
  font-size: 1rem;
  margin-top: 1rem;
}

.guide-text-sm {
  font-size: 1rem;
  margin-top: 1rem;
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("/images/icon_loader_a_gw_01_s1.gif") center center no-repeat;
}

.selection-bottom {
  margin-top: 4rem;
}

.menu-image {
  background-image: url("https://image.freepik.com/free-photo/cycling-equipment-healthy-fit-fitness_1139-686.jpg");
  background-size: cover;
}

.profile-title {
  padding: 0.2rem 0;
  background-color: #cd853f;
  color: #fff;
}

.profile-register {
  width: 45rem;
  height: 4rem;
}

.profile-register-sm {
  width: 20rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.btn-gender {
  width: 4rem;
  margin: 0 0.5rem;
}

.before-menu {
  background-image: url("https://cdn.pixabay.com/photo/2015/07/02/10/23/training-828741_1280.jpg");
  background-size: cover;
  background-position: center;
  margin: -2rem -1rem;
  height: 40.2rem;
}

.before-recovery {
  background-image: url("https://cdn.pixabay.com/photo/2014/09/28/19/49/fitness-465203_1280.jpg");
  background-size: cover;
  background-position: center;
  margin: -2rem -1rem;
  height: 39.5rem;
}

.record-view {
  background-image: url("https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg");
  background-size: cover;
}

.history-top {
  font-size: 1rem;
  margin: 1rem 0 0 0;
  border: solid;
}

.history-text {
  margin-bottom: 1rem;
  margin: 0.5rem auto;
  padding: 0;
  font-size: 0.8rem;
}

.date{
  font-size: 1.5rem;
  font-weight: bold;
  color: #483C8A;
}