.jumbotron-extend {
  background-position: center;
  position: relative;
  height: 100vh;
  background-image: url(https://image.freepik.com/free-photo/young-man-in-sportswear-an-exercise-class-in-a-gym_1150-12372.jpg);
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-title {
  font-size: 5rem;
}

.login-layout {
  height: 100vh;
}

.login-form {
  margin-top: 10rem;
}

.a-cours {
  background-color: #696969;
  line-height: 2.5rem;
}

.e-cours {
  background-color: #D2B48C;
  line-height: 2.5rem;
}

.f-cours {
  background-color: #5F9EA0;
  line-height: 2.5rem;
}

.event-list {
  float: left;
}

.event-image {
  background-image: url("https://cdn.pixabay.com/photo/2014/12/12/06/41/weight-lifting-565126_1280.jpg");
  background-size: cover;
}

dt {
  border-bottom: 1px solid #ccc;
  float: left;
}

dd {
  border-bottom: 1px solid #ccc;
  padding-left: 5rem;
  margin-right: 3rem;
}

.password-forget {
  color: black;
  padding: 0;
  border: red;
}

.top-title {
  font-size: 3rem;
}

.top-title-sm {
  font-size: 1.3rem;
}

