.login-form {
  background-color: #343A3F;
  margin: 10% 25% 25% 25%;
  
  width:40rem;
  
}

.login-button{
  position: relative;
  left: 35rem;
}

.login-title{
  font-size: 2rem;
}

.cours1{
    margin: 10rem 0 0 0;
    background-color: #343A3F;
}

.introduction{
  background-color: white;
}