.selection-image {
  background-image: url("/images/AdobeStock_239063695.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

input[type=radio] {
  transform: scale(3);
  margin-top: 4.5rem;
}

