.selection-image {
  background-image: url("/images/selection.jpeg");
  background-size: cover;
  position: relative;
  height: 100vh;
}

input[type=radio] {
  transform: scale(3);
  margin-top: 4.5rem;
}

.profile_image {
  height: 300px;
  width: 300px;
  margin: 0 0 4rem 4rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

input[type=file] {
  display: none;
}

.profile_title {
  margin-bottom: 4rem;
}

.selection_title {
  border-bottom: solid #b22222;
}



.selection_button{
  color:#fff;
  background-color: rgba(0,0,0,0);
  font-size: 3rem;
  margin-bottom: 5rem;
  width: 30rem;
  height: 5.5rem;
  border: solid;
  position: relative;
  display: block;
  z-index: 1;
  overflow: hidden;
  transition: .3s;
  background: transparent;
}
.selection_button::before,
.selection_button::after {
  content: "";
  width: 30rem;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: transform ease .3s;
}
.selection_button::before {
  right: -2rem;
  border-right: 4rem solid transparent;
  border-bottom: 5.5rem solid #fff;
  transform: translateX(-100%);
}
.selection_button::after {
  left: -2rem;
  border-left: 4rem solid transparent;
  border-top: 5.5rem solid #fff;
  transform: translateX(100%);
}
.selection_button:hover {
  color: #333;
  border: solid #fff;
}
.selection_button:hover::before {
  transform: translateX(-49%);
}
.selection_button:hover::after {
  transform: translateX(49%);
}

.section_button {
  color: #333;
  background-color: #FBFAFE;
  border-radius: 50px;
  height: 100%;
  width: 60%;
  font-size: 1.5rem;
}

.record_table {
  height: 100%;
  color: #333;
  margin: 2rem 0;
}

.month_change{
  font-size:1.2rem;
}

.table_link {
  text-decoration: none;
  color: #333;
}

.day_table {
  line-height: 3rem;
  background-color: #fff;
}

.record-text{
  height: 100%;
  margin: 4rem 0;
}




.table-bordered {
  color: #333;
  
}

th:nth-of-type(1),
td:nth-of-type(1) {
  color: #FF5F17;
}

th:nth-of-type(7),
td:nth-of-type(7) {
  color: #508393;
}

.today {
  background-color: #FFF0F5;
  position: relative;
  transition: color 300ms, background-color 300ms;
}

.today:hover {
  background-color: #343A3F;
  color: #fff;
}

.calendar {
  background-color: #FFF;
  position: relative;
  background: #fff;
  transition: color 300ms, background-color 300ms;
}

.calendar:hover {
  background-color: #343A3F;
  color: #fff;
}


.workoutChart{
  background-color: #fff;
  padding-top: 5rem;
  margin: 0;
}

.btn-parts{
  padding: 2rem;
  border: solid;
  color :#fff;
  background-color: #333;
  margin-right: 10rem;
}

.btn-color{
  background-color:#FF4F50;
}
.btn-color2{
  background-color:#87CEEB;
}
.btn-color3{
  background-color:#66CDAA;
}
.btn-color4{
  background-color:#BDB76B;
}
.btn-color5{
  background-color:#F4A460;
}
.btn-color6{
  background-color:#DDA0DD;
}


.scrollableChartWrapper {
  position: relative;
  background-color: ghostwhite;
}

/* スクロール可能グラフを囲む div */
.scrollableChartWrapper > div {
  position: relative;
  overflow-x: scroll;
}

/* Y軸イメージコピー用 canvas */
.scrollableChartWrapper > canvas {
  position: absolute;            /* これにより、上の div と重なる位置に canvas が配置される */
  left: 0;
  top: 0;
  background-color: ghostwhite;  /* ここをコメントアウトすると、背景色が透明になるので、Y軸を透かしてグラフ部分が見えるようになる */
}

.cours-title{
  margin: 0;
  padding: 0.5rem;
  font-weight: bold;
}

.unit{
  margin: 2.5rem 0 0 0;
  padding: 0;
}

.cours-line{
  padding: 0;
  margin: 0;
  background-color: #333;
}

.chart-title{
  background-color: #FF5F17;
  padding-top: 0.5rem;
}
.chart-title2{
  background-color: #7B3CFF;
  padding-top: 0.5rem;
}