.jumbotron-extend {
  background-position: center;
  position: relative;
  height: 100vh;
  background-image: url(https://image.freepik.com/free-photo/young-man-in-sportswear-an-exercise-class-in-a-gym_1150-12372.jpg);
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

